.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  button {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    span {
      margin-right: 10px;
      font-size: 20px;
    }
  }
  .social-login--github {
    background-color: $black;
  }
  .social-login--facebook {
    background-color: $facebook-blue;
  }
}
