.social-login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
            |Countinue with Github
    button.social-login--facebook
        a(href=routes.faceBook)
            span
                i.fab.fa-facebook
            |Countinue with Facebook