include ../mixins/message

doctype html
html
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css", crossorigin="anonymous")
        link(rel="stylesheet", href="/static/styles.css")
        //- favicon.ico 오류 404 메시지 해결 방법
        link(rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon")
        title #{pageTitle} | #{siteName}
    body
        if messages.error
            +messages({
                type:"error",
                text:messages.error
            })
        else if messages.info
            +messages({
                type:"info",
                text:messages.info
            })
        else if messages.success
            +messages({
                type:"success",
                text: messages.success
            })
        include ../partials/header
        main
            block content
        include ../partials/footer
        script(src="/static/main.js")